# $Id$
# classification.config taken from Snort 2.8.5.3. Snort is governed by the GPLv2
#
# The following includes information for prioritizing rules
#
# Each classification includes a shortname, a description, and a default
# priority for that classification.
#
# This allows alerts to be classified and prioritized.  You can specify
# what priority each classification has.  Any rule can override the default
# priority for that rule.
#
# Here are a few example rules:
#
#   alert TCP any any -> any 80 (msg: "EXPLOIT ntpdx overflow";
#	dsize: > 128; classtype:attempted-admin; priority:10;
#
#   alert TCP any any -> any 25 (msg:"SMTP expn root"; flags:A+; \
#	      content:"expn root"; nocase; classtype:attempted-recon;)
#
# The first rule will set its type to "attempted-admin" and override
# the default priority for that type to 10.
#
# The second rule set its type to "attempted-recon" and set its
# priority to the default for that type.
#

#
# config classification:shortname,short description,priority
#

config classification: not-suspicious,正常流量,3
config classification: unknown,未知流量,3
config classification: bad-unknown,潜在异常流量, 2
config classification: attempted-recon,潜在信息泄露,2
config classification: successful-recon-limited,信息泄露,2
config classification: successful-recon-largescale,大量信息泄露,2
config classification: attempted-dos,试图拒绝服务,2
config classification: successful-dos,拒绝服务,2
config classification: attempted-user,试图获取权限,1
config classification: unsuccessful-user,权限获取失败,1
config classification: successful-user,权限获取成功,1
config classification: attempted-admin,试图获得管理员权限,1
config classification: successful-admin,成功获得管理员权限,1


# NEW CLASSIFICATIONS
config classification: rpc-portmap-decode,RPC查询的解码,2
config classification: shellcode-detect,检测到可执行代码,1
config classification: string-detect,检测到可疑字符串,3
config classification: suspicious-filename-detect,检测到可疑的文件名,2
config classification: suspicious-login,检测到使用可疑用户名尝试登录,2
config classification: system-call-detect,检测到系统调用,2
config classification: tcp-connection,检测到TCP连接,4
config classification: trojan-activity,检测到网络木马, 1
config classification: unusual-client-port-connection,客户端使用异常端口,2
config classification: network-scan,检测到网络扫描,3
config classification: denial-of-service,检测拒绝服务攻击,2
config classification: non-standard-protocol,检测非标准协议或事件,2
config classification: protocol-command-decode,通用协议命令解码,3
config classification: web-application-activity,访问潜在的易受攻击的web应用程序,2
config classification: web-application-attack,Web应用程序的攻击,1
config classification: misc-activity,Misc活动,3
config classification: misc-attack,Misc攻击,2
config classification: icmp-event,通用的ICMP事件,3
config classification: kickass-porn,SCORE! Get the lotion!,1
config classification: policy-violation,可能侵犯公司私隐,1
config classification: default-login-attempt,尝试使用默认用户名和密码登录,2
config classification: Bitcoin-event,加密货币挖矿事件,2
config classification: hacker-tools,黑客工具,1
config classification: Notice-event,关注事件,4
config classification: bad-connection,异常流量,1
